.leftmenu {
  background-color: lightgray;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.menuitem {
	margin: 5px;
}

.content {
  top: 50px;
  left: 20px;
  position: relative;
}

.outer { 
	margin: auto;
    width:1098px;
    }

 
 .itemLabel {
 width: 50px;
 }
 
 .itemInput {
 
 }