@(username: String)

@main("Websocket auction demo") {
<h2>Websocket Auction Client</h2>  
<div class="objekt">
    <img class="bild" src="cykel.jpg" width="400">
</div>
<div id="onError">

</div>
<div id="output">
  <input type="text" id="currentBid" value="100">
</div>
<div id="input">
  <input type="text" id="bid">
  <br><button id="bidButton">Buda</button>
</div>
<div id="auctionhistory">
  <h3>Lagda bud</h3>
</div>

<script type="text/javascript" charset="utf-8">
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var auctionSocket = new WS("@routes.Application.auction(username).webSocketURL(request)")
            
            var sendMessage = function() {
            	auctionSocket.send(JSON.stringify(
                    {bid: $("#bid").val()}
                ))
                $("#bid").val('')
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                	auctionSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } 
                
                if (data.kind == 'bid') {
					$("#currentBid").val(data.message)
					var el = $('<div class="message"><p></p></div>')
                    $("span", el).text(data.user)
                    var today = new Date()
					var h = today.getHours()
					var m = today.getMinutes()
					var s = today.getSeconds()
					m=checkTime(m);
					s=checkTime(s);
                    $("p", el).text(h+":"+m+":"+s+": "+ data.user + " budade " + data.message + " kr.")
                    $(el).addClass(data.kind)
                    if(data.user == '@username') $(el).addClass('me')
                    $('#auctionhistory').append(el)
                }
            }
            
            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#bid").keypress(handleReturnKey)  
            
            auctionSocket.onmessage = receiveEvent
            
            $("#bidButton").click(function() {sendMessage()})
            
            function checkTime(i)
			{
			if (i<10)
			  {
			  i="0" + i;
			  }
			return i;
			}
            
        })
    
    </script>

}
